.website-header {
  background-color: #504d4d;
  height: 2.5em;
  text-align: right;
  color: white;
  font-size: 0.7rem;
  /* font-family: Roboto; */
}

.page-title {
  text-align: center;
  font-size: 2em;
  padding-top: 16px;
  font-weight: bold;
}

.register-box {
  /* height: 500px; */
  padding: 2em 0em;
  justify-content: center;
  margin-top: 7em;
  margin-right: 14em;
  margin-left: 14em;
  border: 3px solid #504d4d;
  border-radius: 2em;
}
.footer {
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 0px;
}



.footer-bar {
  height: 25px;
  background-color: #504d4d;
}
.register-box button{
  font-size: 1.5rem;
  background-color: #504d4d;
  padding:0.5rem 1.5rem;
  text-transform: uppercase;
  color:white;
  border-radius: 1rem;
  border:none


}
.register-box input{
  border-radius: 1rem;
  border:1px solid #504d4d;
  padding: .5rem;

}
.input-box{
  text-align: left;
  padding-left:15rem;
  padding-top: 0.5rem;
}
