html{
    font-size: 65%;
}

*{
    margin: 0;
    padding: 0;
}

.header{
    background-color: #504d4d;
    text-align: right;
}

.contact-us-bar{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight:600;
    padding: 1rem;
    font-size: 1.3rem;
    vertical-align:middle;
    
}
.title-bar{
    /* background-color: green; */
    display: grid;
    padding: 0.5rem 0.5rem 1rem;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
}

.shoppingcart-button button{
    background-color:orange;
    color: #504d4d;
    border: none;
    font-size: 2rem;
    padding: 0.7rem 2.5rem;
    margin: 0.5rem  2rem 0 0;
    border-radius: 1.5rem;
    outline: none;

}

.middle-content{
    border: 2px solid #504d4d;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 0rem;
    margin: 5rem 20rem;
    margin-bottom: 10rem;
    
    
}
.product-image-area{
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    border-right: 2px solid #504d4d;
}

.product-image{
    width: 25rem;
    height: 37rem;
    margin: auto;
}
.product-image img{
    width: 100%;
    height: 100%;
}
.scroll-button{
    margin: auto;
    font-size: x-large;
    /* background-color: #504d4d; */
    color: 504d4d;
}

.product-details{
    text-align: left;
}

.product-name{
    text-align: center;
    color: white;
    background-color: #504d4d;
}

.product-price{
    padding-top: 1rem;
}

.inner-padding{
    padding: 1rem;

}

.product-size button{
    border: none;
    color: white;
    /* background-color: #504d4d; */
    height: 3rem;
    width: 3rem;
    margin: 0.2rem;
    outline: none;
}

.add-to-cart{
    text-align: center;
    margin-top: 2rem;
}

.add-to-cart button{
    border: none;
    background-color:orange;
    color: #504d4d;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 1rem;
    padding: 1rem 2rem;
}





.footer {
    margin-top: 20px;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0px;
    font-weight: bold;
    font-size: 1.2rem;
}
  
.social-media {
    text-align: center;
    background-color: white;
}
  
.footer-bar {
    height: 2.5rem;
    background-color: #504d4d;
}





@media(max-width: 400px){
    html{
        font-size: 20%;
    }
    .title-bar{
        display: block;
        padding: 1em;
    }
    .title-bar div{
        padding: 1rem;
    }
    .categories{
        display: block;
        font-size: 2rem;
    }
    .categories div{
        padding: 0.5rem;
    }
    .product-image{
        height: 30rem;

    }
    .middle-content{
        grid-template-columns: repeat(1,auto);
        
    }
    .footer{
        margin-top: 10rem;
    }
    
}

@media(max-width: 600px){
    html{
        font-size: 40%;
    }
    .middle-content{
        display: block;
    }
}

@media(max-width: 720px){
    html{
        font-size: 40%;
    }
    .middle-content{
        margin: auto;
    }
}


@media(max-width: 998px){
    html{
        font-size: 50%;
    }
    .middle-content{
        grid-template-columns: repeat(2,auto);
    }
}


